<form [formGroup]="clientDetailsForm">
    <div class="">
        <div class="">
            <div class="">
                <mat-card>
                    <!-- <span (click)="onHideDetailPanel()"><i title="Back to List" class="fas fa-arrow-left"></i></span> -->
                    <div class="project-details">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="main_heading">CLIENT DETAILS</h4>
                            </div>
                            <div *ngIf="archiveButton" class="col-sm-6"><a class="pull-right" (click)="DeleteClient(selectedclientId)">Archive</a>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <input #clientName (blur)="onChange('clientName',clientName.value)" formControlName="clientName"
                                    matInput placeholder="Client Name" name="clientName">

                            </mat-form-field>
                            <span class="validationError" *ngIf="formErrors.clientName">{{formErrors.clientName}}</span>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <input #focalPoint formControlName="focalPoint" (blur)="onChange('focalPoint',focalPoint.value)"
                                    matInput placeholder="Focal Point">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <input #position formControlName="position" (blur)="onChange('position',position.value)"
                                    matInput placeholder="Position">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <input #phone formControlName="phone" (blur)="onChange('phone',phone.value)"
                                    appNumberOnly="true" matInput placeholder="Phone">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <input #email formControlName="email" (blur)="onChange('email',email.value)" matInput
                                    placeholder="Email">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <mat-select #category formControlName="category" placeholder="Category"
                                    (selectionChange)="onChange('category',$event.value)">
                                    <mat-option *ngFor="let contract of categories" [value]="contract.CategoryId">
                                        {{contract.CategoryName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input #history formControlName="history" (blur)="onChange('history',history.value)"
                                    matInput placeholder="History">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input #physicialAddress formControlName="physicialAddress" (blur)="onChange('physicialAddress',physicialAddress.value)"
                                    matInput placeholder="Physicial Address">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input #clientBackground formControlName="clientBackground" (blur)="onChange('clientBackground',clientBackground.value)"
                                    matInput placeholder="Client Background">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</form>
