<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <div class="row">
        <div class="col-sm-6">
          <!-- <span (click)="onHideDetailPanel()"><i title="Back to List" class="fas fa-arrow-left"></i></span> -->
        </div>
        <div class="col-sm-6">
          <div *ngIf="archiveButton" class="col-sm-6"><a class="pull-right" (click)="DeleteNature(natureId)">Archive</a></div>
        </div>
      </div>
      <form [formGroup]="natureDetailsForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <label>Nature</label>
              <input (blur)="onChange(natureName.value)" #natureName formControlName="natureName" matInput name="natureName"
                class="form-control" placeholder="Nature" />
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>