<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <!--
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    -->

    <app-db-sidebar></app-db-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    -->

    <mat-card>
      <div class="row">

        <div class="col-xs-1">
            <button mat-button (click)="sidenav.toggle()">Toggle</button>
        </div>
        <div class="col-xs-11">
            <app-db-header
            [selectedHeader]="setSelectedHeader"
            [headerName]="setProjectHeader"
          ></app-db-header>
        </div>



      </div>
    </mat-card>

    <br />

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
