<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <div class="row">
        <div class="col-sm-6">
          <!-- <span (click)="onHideDetailPanel()"><i title="Back to List" class="fas fa-arrow-left"></i></span> -->
        </div>
        <div class="col-sm-6">
          <div *ngIf="archiveButton" class="col-sm-6"><a class="pull-right" (click)="DeleteMediaCategory(mediaCategoryId)">Archive</a></div>
        </div>
      </div>
      <form [formGroup]="mediaCategoryDetailsForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <label>Media Category</label>
              <input (blur)="onChange(mediaCategoryName.value)" #mediaCategoryName formControlName="mediaCategoryName"
                matInput name="mediaCategoryName" class="form-control" placeholder="Media Category" />
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>