/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .modal-filter .mat-form-field-label { top:28px;left:10px;}
// .modal-filter .mat-button-toggle-group-appearance-standard { border-radius:50px;}
// .modal-filter .mat-button-toggle-appearance-standard .mat-button-toggle-label-content { line-height: 33px;}
// .modal-filter #mat-button-toggle-2,
// .modal-filter #mat-button-toggle-2 .mat-button-toggle-button { border-top-left-radius:50px;border-bottom-left-radius:50px;}
// .modal-filter #mat-button-toggle-3,
// .modal-filter #mat-button-toggle-3 .mat-button-toggle-button { border-top-right-radius:50px;border-bottom-right-radius:50px;}
// .modal-filter .mat-button-toggle-checked { background-color:#2d94ec;color:#ffffff;}
// .modal-filter .filter-btn-wrap { text-align:center;}
// .modal-filter .filter-btn-wrap button[type="submit"] { background-color:#2d94ec;color:#ffffff;border:none;padding:6px 30px;border-radius: 3px;}
// .modal-filter select,
// .modal-filter input[type="text"] { width:100%;padding:5px;border:1px solid #dfdfdf;}
