

// :host /deep/   .mat-tab-label.mat-ripple.mat-tab-label-active {color:#3885eb !important;}
// .navbar.navbar-default{background: transparent; border: none;}
// .navbar-collapse.collapse ,.navbar-collapse.collapse ul {padding: 0;margin:0}
// .navbar-collapse.collapse ul li {display: inline-block;margin-right: 20px;}
// .navbar-collapse.collapse ul li a{color:#767676 ; border-bottom:2px solid transparent;padding-bottom:5px;font-weight: bold;}
// .navbar-collapse.collapse ul li a:hover{color:#3885eb ;border-bottom:2px solid #3885eb;}
